*{
    margin: 0;
    padding: 0;
}
#preloader{
    background: #FCFEFC url('../img/preloader.gif') no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

    &.active{
        display: none;
    }
}